<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	  package="com.github.tommywalsh.mbta"
	  android:versionCode="1"
	  android:versionName="1.0">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_COURSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

  <uses-sdk android:minSdkVersion="3" />
  
  <application 
     android:label="Straphanger" 
     android:theme="@android:style/Theme.NoTitleBar"
     android:icon="@drawable/icon"
     >
    

    <uses-library android:name="com.google.android.maps" />
    
    <activity android:name=".Straphanger" 
	      android:label="Straphanger" 
	      android:launchMode="singleTask"      
	      >

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity android:name=".DepartureViewer" android:label="Upcoming Departures" android:launchMode="standard" />
    <activity android:name=".LocationPicker" android:label="Location Picker" android:launchMode="standard" />
    <activity android:name=".ProfileEditor" android:label="Profile Editor" android:launchMode="standard" />
    
  </application>
  
  
</manifest> 
